/*
Copyright © 2019 Dennis Schulmeister-Zimolong

E-Mail: dhbw@windows3.de
Webseite: https://www.wpvs.de/

Dieser Quellcode ist lizenziert unter einer
Creative Commons Namensnennung 4.0 International Lizenz.
*/
/*
    Created on : 28.03.2019, 14:22:10
    Author     : sven
*/

.input-group-text {
    width: 45px;
}
